<div class="client__area pt-50 pb-55 fix"
     [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }">
  <div class="container-fluid p-0">
    <div class="row gx-0">
      <div class="col-xl-12">
        <div class="client__slider client__slider-active owl-carousel text-center">
          @for (client of clients; track client) {
            <div class="client__thumb">
              <a [href]="client.url">
                <img [ngSrc]="client.logo" [alt]="client.alt">
              </a>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
