<div
  class="features-area features-area-border box-105"
  [attr.data-background]="'assets/img/bg/pattern-2.jpg'"
  [ngStyle]="{
    'background-image': 'url(assets/img/bg/pattern-2.jpg)',
    'background-size': 'cover',
    'background-position': 'center'
  }"
>
  <div class="container-fluid">
    <div class="row">
      @for (service of services; track service.slug) {
        <div class="col-xl-4 col-lg-6 col-md-6">
          <a [routerLink]="['/services', service.slug]" class="text-decoration-none">
            <div class="features__item d-flex white-bg transition-3 mb-30">
              <div class="features__icon">
                <span class="icon {{ service.icon }}"></span>
              </div>
              <div class="features__content">
                <h3>{{ service.label }}</h3>
                <p>{{ service.description }}</p>
              </div>
            </div>
          </a>
        </div>
      }

    </div>
  </div>
</div>
